[Desktop Entry]
Encoding=UTF-8
Name=Search And Rescue II
GenericName=Helicopter simulator
Exec=sar2
Terminal=false
Type=Application
Categories=Game;Simulation;
Icon=sar2
